* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: auto;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
    overflow: hidden;
}
.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 10px;
}
nav ul li:first-child {
    margin-left: 0;
}
.menu li a {
    color: #11c911;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    display: block;
    padding: 6px 10px;
    border: 1px solid #11c911;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.menu li a:hover {
    color: white;
    background-color: #11c911;
}

/* our-service */
/* .ourservice-content {
    width: 1250px;
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: #11c911;
    
} */

.our-services {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}
.our-services-title .titletext {
    color: #11c911;
    margin-bottom:15px ;
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.our-services-blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 75px; */
}

.service-block {
    text-align: center;
    width: 23.2%;
    height: 530px;
    border: white solid 1px;
    transition: 0.5s;
    background: #11c911;
    color: black;

}

.service-block:hover {
    background-color: #0E3C5D;
    color: white;
    cursor: pointer;
    font-style: italic;
}

.service-block h1 {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    margin: 5px 0;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
}
.titestetich {
    font-size: 20px;
}

.our-services p {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: start;
    font-size: 18px;
    margin-left: 5px;
    /* line-height: 30px; */
}

.doctor {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-doctor {
    margin-top: 25px;
    text-align: center;
}

.doctor-title {
    color: #11c911;
    margin-bottom:15px ;
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.doctor .photo {
    width: 23.2%;
    height: 150px;
    background: red;
}
.doctor {
    margin-top: 10px;
}
.doctor .about-doctor {
    width: 75%;
    height: 150px;
    background: #0E3C5D;
}